<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="page-card edit-card">
      <ion-fab vertical="center" horizontal="center">
        <ion-button ion-fab color="tertiary"><ion-icon name="log-in"></ion-icon></ion-button>
        <ion-fab-list side="top">
          <ion-button (click)="fbLogin()" ion-fab><ion-icon name="logo-facebook"></ion-icon></ion-button>
        </ion-fab-list>

        <ion-fab-list side="bottom">
          <ion-button ion-fab color="secondary"><ion-icon name="logo-twitter"></ion-icon></ion-button>
        </ion-fab-list>

        <ion-fab-list side="start">
          <ion-button ion-fab color="dark"><ion-icon name="logo-vimeo"></ion-icon></ion-button>
        </ion-fab-list>

        <ion-fab-list side="end">
          <ion-button ion-fab color="danger"><ion-icon name="logo-google"></ion-icon></ion-button>
        </ion-fab-list>
      </ion-fab>
  </ion-card>

</ion-content>
