<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{userName}}</ion-title>
        <ion-button (click)="logout()" slot="end" color="danger" size="small">
            <ion-icon name="log-out"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="page-card">
        <ion-item lines="none" class="page-card__category-select">
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="selectedCategoryId" (ngModelChange)="changeCategory()" class="page-card__category-select">
                <ion-select-option *ngFor="let category of categories"
                                   [value]="category.id">{{category.name}}</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item class="ion-padding-top">
            <ng-container *ngIf="!isRotated; else rotatedTemplate">{{activeWord?.origin}}</ng-container>
            <ng-template #rotatedTemplate>{{activeWord?.translation}}</ng-template>
        </ion-item>

        <ion-item>
            <ion-input [(ngModel)]="enteredValue"
                       (keyup.enter)="check()"
                    placeholder="Translation" type="text"
                       [class.error]="isError"
            ></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top" lines="none">
            <ion-button (click)="rotate()" color="secondary">
                <ion-icon name="sync" slot="start"></ion-icon>
                Rotate
            </ion-button>

            <ion-button color="secondary"
                        [disabled]="!activeWord"
                        (click)="openEditWordModal(activeWord)"
            >
                <ion-icon name="create"></ion-icon>
                Edit
            </ion-button>

            <ion-button (click)="onNext()" color="secondary">
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                Next
            </ion-button>

            <ion-button (click)="check()" slot="end">
                <ion-icon name="checkmark" slot="start"></ion-icon>
                Check
            </ion-button>
        </ion-item>
    </ion-card>
</ion-content>
