<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Categories</ion-title>
        <ion-button [disabled]="!filteredCategories || pending" (click)="openEditCategoryModal()" slot="end" color="light" size="small">
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="page-card">
        <ion-item class="ion-padding-bottom" [formGroup]="filtersForm">
            <ion-button *ngIf="search.value"
                        (click)="search.setValue('')"
                        color="light" slot="end">
                <ion-icon name="close" ></ion-icon>
            </ion-button>
            <ion-input formControlName="search"
                      placeholder="Search"
            ></ion-input>
        </ion-item>

        <ion-list class="ion-padding-top">
            <ion-item *ngFor="let category of filteredCategories">
                <ion-label>{{category.name}}</ion-label>
                <ion-button (click)="openEditCategoryModal(category)" color="secondary">
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button [disabled]="pending"
                            (click)="presentActionSheet(category)"
                            color="danger">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
