<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="categories">
    <ion-item class="ion-padding-bottom">
      <ion-input></ion-input>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list class="ion-padding-top">
      <ion-item>
        <ion-label>name</ion-label>
        <ion-button color="secondary">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
