<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Words</ion-title>

        <ion-button (click)="openEditWordModal()" slot="end" color="light" size="small">
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="page-card">
        <ion-card-title [formGroup]="filtersForm" class="filters">
            <ion-card>
                <ion-item>
                    <ion-label>Filters panel</ion-label>
                    <ion-button (click)="togglePanel()"
                                slot="end" color="light">
                        <ion-icon *ngIf="!expanded" name="expand"></ion-icon>
                        <ion-icon *ngIf="expanded" name="contract"></ion-icon>
                    </ion-button>
                </ion-item>

                <ng-container *ngIf="expanded">
                    <ion-item>
                        <ion-button *ngIf="!!search.value"
                                    (click)="search.setValue('')"
                                    color="light" slot="end">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>

                        <ion-input formControlName="search" placeholder="Search"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-select formControlName="categoryId"
                                    placeholder="Filter by category"
                                    [interfaceOptions]="{header: 'Select category'}"
                                    class="filters__select"
                        >
                            <ion-select-option value="">All categories</ion-select-option>
                            <ion-select-option *ngFor="let category of categories"
                                               [value]="category.id">{{category.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-button (click)="onSortClick()" slot="start" color="secondary">
                            <ion-label>Sort</ion-label>
                            <ion-icon name="arrow-down" *ngIf="sortingDirection === SortingDirection.Desc"></ion-icon>
                            <ion-icon name="arrow-up" *ngIf="sortingDirection === SortingDirection.Asc"></ion-icon>
                        </ion-button>
                        <ion-button (click)="resetFilters()" slot="end" color="light">
                            <ion-icon name="close" slot="start"></ion-icon>
                            Reset filters
                        </ion-button>
                    </ion-item>
                </ng-container>


            </ion-card>
        </ion-card-title>

        <ion-list class="ion-padding-top">
            <ng-container *ngFor="let word of filteredWords">
                <div class="ion-padding-horizontal">
                    <ion-text>
                        <strong>Origin: </strong>
                        {{word.origin}}
                    </ion-text>
                </div>

                <div class="ion-padding-horizontal">
                    <ion-text>
                        <strong>Translation: </strong>
                        {{word.translation}}
                    </ion-text>
                </div>

                <ion-item>
                    <ion-button
                            [disabled]="pending"
                            (click)="presentActionSheet(word)" color="danger"
                    >
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                    <ion-button [disabled]="pending"
                                (click)="openEditWordModal(word)"
                                color="secondary">
                        <ion-icon name="create"></ion-icon>
                    </ion-button>

                    <ng-container *ngIf="isCategoriesVisible">
                        <ion-text class="ion-padding-start">Category:</ion-text>
                        <ion-select [(ngModel)]="word.categoryId" (ngModelChange)="onCategoryChange(word)"
                                    class="list-select" placeholder="Select category">
                            <ion-select-option *ngFor="let category of categories"
                                               [value]="category.id">{{category.name}}</ion-select-option>
                        </ion-select>
                    </ng-container>

                </ion-item>
            </ng-container>
        </ion-list>
    </ion-card>
</ion-content>
