.words {
  display: flex;
  flex-direction: column;
}

ion-list {
  flex: 1;
  overflow-y: auto;
}

ion-select {
  width: 100%;

  &.list-select {
    margin-left: 20px;
  }
}

.filters {
  &__select {
    padding-right: 23px;
  }
}
