<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Words</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="words">
        <ion-card-title *ngIf="!expanded">
            <ion-card>
                <ion-item>
                    <ion-input placeholder="Search"></ion-input>
                    <ion-button
                            (click)="togglePanel()"
                            slot="end" color="light">
                        <ion-icon name="expand"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-card>
        </ion-card-title>
        <ion-card-title *ngIf="expanded">
            <ion-card [formGroup]="form">
                <ion-item>
                    <ion-input placeholder="Search"></ion-input>
                    <ion-button (click)="togglePanel()"
                                slot="end" color="light">
                        <ion-icon name="contract"></ion-icon>
                    </ion-button>
                </ion-item>

                <ion-item>
                    <ion-input formControlName="origin" placeholder="Origin (EN)"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input formControlName="translation" placeholder="Translation (RU)"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-select formControlName="categoryId" placeholder="Select category">
                        <ion-select-option *ngFor="let category of categories"
                                           [value]="category.id">{{category.name}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-button [disabled]="pending" slot="end" color="light">
                        Cancel
                    </ion-button>
                    <ion-button [disabled]="form.invalid || pending"
                                (click)="addWord()"
                                slot="end"
                    >
                        Save
                    </ion-button>
                </ion-item>
            </ion-card>

        </ion-card-title>


        <ion-list class="ion-padding-top">
            <ng-container *ngFor="let word of words">
                <div class="ion-padding-horizontal">
                    <ion-text>
                        {{word.origin}}
                    </ion-text>
                </div>

                <div class="ion-padding-horizontal">
                    <ion-text>
                        {{word.translation}}
                    </ion-text>
                </div>

                <ion-item>
                    <ion-button
                            [disabled]="pending"
                            (click)="presentActionSheet(word)" color="danger"
                    >
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                    <ion-button [disabled]="pending"
                                color="secondary">
                        <ion-icon name="create"></ion-icon>
                    </ion-button>

                    <ng-container *ngIf="isCategoriesVisible">
                        <ion-select [(ngModel)]="word.categoryId" (ngModelChange)="onCategoryChange(word)"
                                    class="list-select" placeholder="Select category">
                            <ion-select-option *ngFor="let category of categories"
                                               [value]="category.id">{{category.name}}</ion-select-option>
                        </ion-select>
                    </ng-container>

                </ion-item>
            </ng-container>
        </ion-list>
    </ion-card>
</ion-content>
