<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-label>Create</ion-label>
        </ion-title>

        <ion-button (click)="dismiss()" color="light" slot="end">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form">
    <ion-card class="edit-card">
        <ion-card-title>
            <ion-item>
                <ion-label position="floating">Origin (EN):</ion-label>
                <ion-textarea formControlName="origin"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Translation (RU):</ion-label>
                <ion-textarea formControlName="translation"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-select formControlName="categoryId" placeholder="Select category">
                    <ion-select-option *ngFor="let category of categories"
                                       [value]="category.id">{{category.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-button [disabled]="pending" (click)="dismiss()" slot="end" color="light">
                    Cancel
                </ion-button>
                <ion-button [disabled]="form.invalid || pending"
                            (click)="save()"
                            slot="end"
                >
                    Save
                </ion-button>
            </ion-item>
        </ion-card-title>
    </ion-card>
</ion-content>
